[submodule "WordPress"]
	path = WordPress
	url = git@github.com:Genki-S/WordPress.git
[submodule "Genki-S.github.io"]
	path = Genki-S.github.io
	url = git@github.com:Genki-S/Genki-S.github.io.git
[submodule "jpblog/_site"]
	path = jpblog/_site
	url = git@github.com:Genki-S/Genki-S.github.io.git
