[submodule "WordPress"]
	path = WordPress
	url = https://github.com/Genki-S/WordPress
[submodule "wp-plugins/google-analytics-for-wordpress"]
	path = wp-plugins/google-analytics-for-wordpress
	url = https://github.com/wp-plugins/google-analytics-for-wordpress
