[submodule "WordPress"]
	path = WordPress
	url = https://github.com/Genki-S/WordPress
[submodule "wp-plugins/google-analytics-for-wordpress"]
	path = wp-plugins/google-analytics-for-wordpress
	url = https://github.com/wp-plugins/google-analytics-for-wordpress
[submodule "wp-plugins/disqus-comment-system"]
	path = wp-plugins/disqus-comment-system
	url = https://github.com/crowdfavorite-mirrors/wp-disqus-comment-system
[submodule "wp-plugins/all-in-one-seo-pack"]
	path = wp-plugins/all-in-one-seo-pack
	url = https://github.com/wp-plugins/all-in-one-seo-pack
[submodule "wp-plugins/better-wordpress-google-xml-sitemaps"]
	path = wp-plugins/better-wordpress-google-xml-sitemaps
	url = https://github.com/OddOneOut/Better-WordPress-Google-XML-Sitemaps
